{% extends 'layout.html.twig' %}

{% block content %}
    <h2>cotent defoult</h2>

    {% set navStartNode = document.getProperty('navigationRoot') %}
    {% if not navStartNode is instanceof('\\Pimcore\\Model\\Document\\Page') %}
        {% set navStartNode = pimcore_document(1) %}
    {% endif %}
    {% set mainNavigation = pimcore_build_nav({
        active: document,
        root: navStartNode
    }) %}
    {{ pimcore_render_nav(mainNavigation) }}


    {% for i in pimcore_iterate_block(pimcore_block('contentblock')) %}
        <h2>{{ pimcore_input('subline') }}</h2>
        {{ pimcore_wysiwyg('content') }}
    {% endfor %}
    <form action="{{ path('search') }}" method="get" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
{% endblock %}