{% extends 'layout.html.twig' %}
{% block content %}
    <h1 class="mb-5">Product</h1>


    <div class="">
        <div class="row d-flex ">
            <div class="col-3">
                <p>fghjkl</p>
                <p>fghjkl</p>
                <p>fghjkl</p>
                <p>fghjkl</p>
            </div>
            <div class="col-9">
                <div class="product-info">
                    {% if editmode %}
                        {{ pimcore_relation("products") }}
                    {% else %}
                        {% set product = pimcore_relation("products").element %}
                        {% if products %}
                            {% for product in products  %}
                                <h2>{{ product.name }}</h2>
                                <div class="content">
                                    {% if product.picture %}
                                        {{ product.picture.thumbnail("product").html|raw }}
                                    {% endif %}
                                    {{ product.description|raw }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>



{% endblock %}